:root {
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;

  --main-text-color: #757575;
  --title-text-color: #212121;

  --accent-color: #2196f3;
  --logo-color: #000000;
  --sm-color: #afb1b8;
}

body {
  background-color: var(--primary-bgc);
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* * {  outline: 1px solid red;} */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4 {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* Navigation */

.header {
  display: flex;
  align-items: center;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0px;
  top: 80px;

  border: 1px solid #ececec;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.19;

  color: var(--logo-color);
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-color);
}

.header__logo {
  padding: 24px 93px 25px 0;
}

.navigation {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__link--current::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;

  background: #2196f3;
  border-radius: 2px;
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact__item:not(:last-child) {
  margin-right: 40px;
}

.contact__link {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  fill: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact__icon {
  width: 16px;
  height: 12px;
  margin: 2px 10px 2px 0;
}

/* Hero */
.hero {
  text-align: center;
  padding-top: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto 30px;

  width: 700px;
  color: var(--primary-bgc);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg), url(../images/Bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Buttons */

.button {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  text-align: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  min-width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 10px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--primary-bgc);
  color: var(--accent-color);
  box-shadow: 0px 10px 13px -7px #000000,
    inset 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.button-secondary {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bgc);
  color: var(--title-text-color);
  min-width: 125px;
  height: 38px;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-secondary--current {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;

  background: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.main-form {
  width: 528px;
  min-height: 581px;
  text-align: left;
  padding: 40px;

  background: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.main-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.15;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.main-form__label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  margin-bottom: 10px;
}

.main-form__input {
  display: block;
  height: 40px;
  margin-top: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.main-form__coment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__input:focus,
.main-form__coment:focus {
  border-color: var(--accent-color);
}

.main-form__input:focus+.main-form__icon {
  fill: var(--accent-color);
}

.agreement {
 padding-left: 14px;
}

.agreement__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__input:checked+.agreement__icon{
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  fill: #ffffff;
}

.agreement__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.agreement__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.agreement__accent {
  color: var(--accent-color);
}
.button-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;

  background: var(--primary-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-image: url(/images/close.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  cursor: pointer;
  background-image: url(/images/close-hover.svg);
}

.main-form__button {
  margin: 30px 124px 0;
}

.main-form__button:hover {
  color: var(--primary-bgc);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Why we */
.preference {
  padding-top: 94px;
}

.preference-list {
  display: flex;
  flex-wrap: wrap;
}

.preference-list__item {
  width: 270px;
}

.preference-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.preference-list__item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.preference-list__icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--secondary-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}

.preference-list__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* What we do */

.section {
  position: relative;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title,
.contact-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activity {
  display: flex;
  position: relative;
}

.activity__icon {
  display: block;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__item::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.activity__deskr {
  position: absolute;
  bottom: 27px;
  width: 370px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bgc);
}
/* Our team */

.section--inverse {
  /* max-width: 1600px; */
  background-color: var(--secondary-bgc);
  background-position: center;
}

.team {
  display: flex;
}

.team-member {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member__card {
  padding: 30px 0;
}

.team-member__name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-media {
  display: flex;
  margin: 0 32px 30px 32px;
  padding: 0;
}

.social-media__link {
  display: block;
  width: 44px;
  height: 44px;
}

.social-media__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__item:hover,
.social-media__item:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-media__icon {
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--sm-color);
}

.social-media__icon:hover,
.social-media__icon:focus {
  fill: var(--primary-bgc);
}

/* Clients */

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-item:nth-last-child(-n + 6) {
  margin-bottom: 0;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--sm-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-list:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-logo {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
}

/* Footer */

.footer {
  max-width: 1600px;
  height: 251px;
  margin: 0 auto;
  background-image: url(../images/bgfooter.svg);
  background-position: center;
}

.footer__container {
  display: flex;
}

.footer-info {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 231px;
}

.footer-info__address {
  font-style: normal;
  color: var(--primary-bgc);
}

.footer-info__contact {
  margin-top: 12px;
}

.footer-info__link {
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-info__link:hover,
.footer-info__link:focus {
  color: var(--accent-color);
}

.footer__logo {
  margin-bottom: 28px;
}

.footer-text-color {
  color: var(--primary-bgc);
}

.join {
  margin: 72px 0 0 70px;
}

.join__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;

  color: var(--primary-bgc);
}

.join__list {
  display: flex;
}

.join__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  /* color: var(--primary-bgc, 0.1); */
  /* background-image: url(../images/ellipse.svg); */
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__item:hover,
.join__item:focus {
  background-color: var(--accent-color);
}

.join__link {
  margin: 12px;
}

.subscribe {
  display: flex;
  width: 570px;
  height: 86px;
  margin-top: 72px;
  margin-left: 93px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bgc);
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  margin-right: 12px;

  color: var(--primary-bgc);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-top: 36px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
}

.subscribe__icon {
  position: absolute;
  top: 12px;
  right: 28px;
  width: 24px;
  height: 24px;

  fill: var(--primary-bgc);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover .subscribe__icon {
  fill: var(--accent-color);
}

/* Portfolio */

.portfolio {
  position: relative;
  padding-top: 94px;
  padding-bottom: 0px;
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav .item:not(:last-child) {
  margin-right: 8px;
}

.exemples__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 80px;
}

.project {
  width: 370px;
  margin: 15px;

  background: var(--primary-bgc);
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.project:hover,
.project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__meta {
  padding: 20px 24px;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
}

.project__type {
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  color: var(--main-text-color);
}

.project__overlaj {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  align-items: center;
  line-height: 28px;
  letter-spacing: 1.56;

  color: var(--primary-bgc);
  background-color: var(--accent-color);
  text-decoration: none;
  background: rgba(33, 150, 243, 0.9);

  transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__description {
  bottom: 0;
}

/* Contacts */

.contact-container {
  padding: 94px 0;
}
